

  .gradient-background {
    background: linear-gradient(300deg, #048de2, #4ac6ff, #001be7);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }

  .nav-link:hover {
    color: black;
  }

  .nav-link {
    color: black;
  }



  .text2{
    text-align: left;
  }

  #navbar-example2 {
    position: fixed;
    width: 100%;
  }

  h1 {
    color: rgb(0, 197, 241);
  }
  
  h3 {
    color: rgb(0, 36, 150);
  }


 